* {
    font-family: blippo, fantasy;
}

main {
    width: 80%;
    float: right;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: cornflowerblue;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    visibility: hidden;

}

p {
    display: flex;
    justify-content: center;
}

aside {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1080px;
    background-color: cornflowerblue;
}


#question {
    display: flex;
    justify-content: center;
}


#info {
    display: flex;
    justify-content: center;
    visibility: hidden;

}

#start {
    margin-left: 48%;
}
   

#container {
    height: 1080px;
    background-color: aquamarine;
}

#next {
    visibility: hidden;
}

#timer {
    margin-right: 100px;
}

